.g-menu{
  border-top: 1px solid @base-active;
  background-color: hsla(0,0%,100%,.99);
  height: .5rem;
  display: flex;
  align-items: center;
  a{
    font-size: .1rem;
    color: @base-font-color;
  }

  .router-link-active{
    color:#f76a2b;
  }


}
